body {
    font-family: Arial,sans-serif;
    background-color:darkcyan;
    text-align: center;
    min-height: 100px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    color: #333;
    flex-direction: column;
}
h1{
    margin-top: 40px;
    color:darkmagenta;
    font-size: 2em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
h2{
    margin-top: 30px;
    color:#2d3436;
}
form {
    background: #ffffff;
    padding: 25px 30px;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    align-items:flex-start;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    flex-direction: column;
    width: 300px;
}
label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #2d3436;
}
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: all 0,2s ease;
}
button{
    width: 100%;
    background-color: #098;
    color:white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
}
button:hover{
    background-color: #74b9ff;
}
#listaReservas {
    margin-top: 30px;
    text-align: left;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    width: 350px;
}
#listaReservas p {
    margin: 5px 0;
}

.vermelho {
    color: red;
    font-weight: bold;
}
.amarelo {
    color:gold;
    font-weight: bold;
}
.verde {
    color: green;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #dfe6e9;
    margin: 15px 0;
}